In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\icon\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\icon\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\icon\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\icon\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\icon\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

# Define the list of field names
field_names = [
    "Person Number",
    "Company Number",
    "First Line Address",
    "Postcode",
    "Town",
    "County",
    "Country",
    "PO BOX",
    "Date Appointment",
    "Second Line Address",
    "DOB",
    "Title",
    "First Name",
    "Last Name",
    "Honours",
    "Care Of",
    "Company Name",
]

# Specify the file path
file_path = r'C:\Users\icon\Downloads\officer_snapshot.txt'

# Create an empty list to store dictionaries of field values
data_list = []

# Read the data from the specified file
with open(file_path, "r") as file:
    lines = file.readlines()

# Iterate through the lines and populate the data_list with dictionaries
for line in lines:
    values = line.strip().split("<")
    data_dict = {field: value if value else None for field, value in zip(field_names, values)}
    data_list.append(data_dict)

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data_list)

# Display the resulting DataFrame
df.head()

,Person Number,Company Number,First Line Address,Postcode,Town,County,Country,PO BOX,Date Appointment,Second Line Address,DOB
0,88958775556806630001 20190429 CR4...,INDIGO,VANVU,None,None,None,3 SHROPSHIRE CLOSE,None,MITCHAM,None,ENGLAND
1,78249759801392550003 19920831 W11...,CAMERON,CANNON,None,None,None,78 LEDBURY ROAD,None,LONDON,None,None
2,71327535767633990002 19911231 EC4...,JODIE,REMSBURY,None,None,None,2ND FLOOR REGIS HOUSE,45 KING WILLIAM STREET,LONDON,None,UNITED KINGDOM
3,65780191684219590001 20060314 B18...,ZEPHYR,GO AHEAD SERVICE LIMITED,None,None,None,69 GREAT HAMPTON STREET,None,BIRMINGHAM,WEST MIDLANDS,None
4,25410031166976070001 19901231 BS4...,KEEGAN,BARRETT,None,None,None,CARTERS WAY,CHELVEY BATCH BACKWELL,BRISTOL,None,None

In [ ]:
from flask import Flask, request, jsonify

# Load the provided dataset
data = [
    "88958775556806630001 20190429 CR4 1XW 197404MR<INDIGO<VANVU<<<<3 SHROPSHIRE CLOSE<<MITCHAM<<ENGLAND",
    "78249759801392550003 19920831 W11 2AH 194210MR<CAMERON<CANNON<<<<78 LEDBURY ROAD<<LONDON<<",
    "71327535767633990002 19911231 EC4R 9AN 196405MR<JODIE<REMSBURY<<<<2ND FLOOR REGIS HOUSE<45 KING WILLIAM STREET<LONDON<<UNITED KINGDOM",
    "65780191684219590001 20060314 B18 6EW <ZEPHYR<GO AHEAD SERVICE LIMITED<<<<69 GREAT HAMPTON STREET<<BIRMINGHAM<WEST MIDLANDS<",
    "25410031166976070001 19901231 BS48 3AR 194311MR<KEEGAN<BARRETT<<<<CARTERS WAY<CHELVEY BATCH BACKWELL<BRISTOL<<",
    "43262095862949670002 20201009 PA7 5RZ 199108MR<LARKIN<MENZIES<<<<36 SKELMORLIE AVENUE<<BISHOPTON<RENFREWSHIRE<SCOTLAND",
    "82683495584682790001 20060227 OX7 6JS 196311MR<VAL<MCCORMACK<<<<CHARNWOOD<SHIPTON ROAD<MILTON UNDER WYCHWOOD<OXON<",
    "43411175569858710001 20071015 LU2 8JW 198604MR<HERO<JETHWA<<<<38 TELSCOMBE WAY<<LUTON<<",
    "19861223606408710005 20160921 NW10 7LQ 194510MR<RAY<PUJARA<<<<47-49 PARK ROYAL ROAD<PREMIER HOUSE<LONDON<<ENGLAND",
    "48592463171269110001 20110202 84210 196304MR<RAY<AUQUIER<<<<LA COUTOURONE<<VENASQUE<<FRANCE",
    "48284607860725030002 20000406 CB8 0NF 196708<BEAU<HOPES<<<<14 THE HAMILTONS<<NEWMARKET<SUFFOLK<",
    "49772551904553030001 20220908 BS9 3BY 197012MR<NEO<KWIZERA<<<<THE BRISTOL OFFICE 2ND FLOOR, 5 HIGH STREET<WESTBURY-ON-TRYM<BRISTOL<<ENGLAND",
    "90716431882032950001 19981211 W1S 1RR <BERLIN<FIRST DIRECTORS LIMITED<<<<72 NEW BOND STREET<<LONDON<<"
]

app = Flask(__name__)

# API endpoint to get all data
@app.route('/api/data', methods=['GET'])
def get_data():
    return jsonify(data)

# API endpoint to filter data by "Person Number" and "Other Field"
@app.route('/api/filter', methods=['GET'])
def filter_data():
    person_number = request.args.get('person_number')
    other_field = request.args.get('other_field')
    
    if person_number is None or other_field is None:
        return "Missing parameters", 400
    
    filtered_data = [record for record in data if person_number in record and other_field in record]
    return jsonify(filtered_data)

if __name__ == '__main__':
    app.run(host='0.0.0.0', port=5000)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on all addresses.
   WARNING: This is a development server. Do not use it in a production deployment.
 * Running on http://192.168.160.71:5000/ (Press CTRL+C to quit)

In [ ]:
# Use an official Python runtime as a parent image
FROM python:3.8-slim

# Set the working directory to /app
WORKDIR /app

# Copy the current directory contents into the container at /app
COPY . /app

# Install Flask
RUN pip install Flask

# Make port 5000 available to the world outside this container
EXPOSE 5000

# Define environment variable
ENV NAME World

# Run app.py when the container launches
CMD ["python", "app.py"]

In [ ]:
# Step 3: Build and Run the Docker Container

# Ensure you have Docker installed on your system. Then, navigate to the directory containing your app.py and Dockerfile and run the following commands:

docker build -t dataset-api .
docker run -p 5000:5000 dataset-api
    
# The Flask application will be accessible at http://localhost:5000.

# You can customize the Flask application, modify the dataset, 
# and enhance the Dockerfile to suit your specific requirements.
# This solution provides a simple API for accessing and filtering data, 
# making it accessible to both technical and non-technical